tmp/
*.zip
*.swp
res/metadata.json
node_modules/
.idea/
*.iml
@types/
build/

# Test cache
.cache/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Logs
*.log
e2e.log

# OS files
.DS_Store
Thumbs.db
